<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
    <parameter name="browser" value="chrome"/>
    <test name="Regression Test" preserve-order="false">
        <classes>
            <class name="Tests.UserRegistrationTest"/>
            <class name="Tests.AddProductReviewTest" />
            <class name="Tests.AddProductToCompareTest"></class>
            <class name="Tests.AddProductToShoppingCartTest"></class>
            <class name="Tests.AddProductToWishListTest"></class>
            <class name="Tests.ChangeCurrencyTest"></class>
        </classes>
    </test>
</suite>